<div class="list-text">
    <div class="wrapper">
        <div class="grid">
            <ul class="list_text">
                {% for item in list_text.list_text %}
                    {% set delay = 250 * loop.index %}
                    <li
                        data-aos="fade-up"
                        data-aos-delay="{{ delay }}"
                    >
                        <div class="asset">
                            <img src="{{ Image(list_text.asset).src }}" />
                        </div>
                        <div class="txt">
                            {{ item.text }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {{ list_text.text}}
        </div>
    </div>
</div>