.list-text {
   ul {
       list-style: none;
       margin: 0 0 -2rem;
       padding: 0;
        max-width: 50rem;
        margin: 0 auto;
       display: flex;
       flex-wrap: wrap;
       align-items: center;
       justify-content: center;
       margin: 0 auto !important;
    //    @media (min-width: 960px) {
    //     justify-content: center;
    //     }
   }
   li {
       display: flex;
       flex-direction: column;
       align-items: center;
       margin:0 1rem 2rem;
    //    @media (min-width: 960px) {
    //        width: calc(100% / 3);
    //    }
   }
   .asset {
        width: 4rem;
        position: relative;
        top: 10px;
   }
   .txt {
       font-size: 1.5rem;
       padding: .875rem 1.25rem;
       border-radius: 4rem;
       border: solid 2px #707070;
   }
}