.title-text-asset {

    &#audit {
        .title {
            color: #263575;
        }
        li:before {
            background: #263575;
        }
        margin-bottom: 1rem;
    }
    &#conseil {
        .title {
            color: #1C8D96;
        }
        li:before {
            background: #1C8D96;
        }
        margin-bottom: 1rem;
    }
    &#formation {
        .title {
            color: #87B95C;
        }
        li:before {
            background: #87B95C;
        }
    }
    
    .grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text-ctn {
        max-width: 40rem;
    }
    .asset {
        max-width: 28rem;
        img {
            height: auto;
            width: 100%;
        }
    }
    .title {
        display: flex;
        align-items: center;

        line-height: 1;
        font-size: 3rem;
        margin-bottom: 1rem;
        .title-asset {
            margin-right: 1rem;
            width: 6rem;
            img {
                width: 100%;
            }
        }
    }
    .list_text {
        font-size: 1.5rem;
        margin: 0;
        list-style: none;
        padding-left: .5rem;
        li {
            padding-left: 2rem;
            position: relative;
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }
        li:before {
            position: absolute;
            top: 4px;
            left: 0;
            content: "";
            display: block;
            width: 1rem;
            height: 1rem;
            margin-right: 1rem;
        }
    }
    @media (max-width: 960px - 1px) {
        .asset {
            margin-bottom: 2rem;
        }
        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }
    @media (min-width: 960px) {
        .asset {
            margin-right: 2rem;
        }
        .grid {
            flex-direction: row;
            justify-content: center;
        }
        &.right {
            .asset {
                order: 2;
            }
            .text-ctn {
                order: 1;
            }
        }
        &.left {
            .asset {
                order: 1;
            }
            .text-ctn {
                order: 2;
            }
        }
    }
}