<div id="{{ title_text_asset.anchor }}" class="title-text-asset {{block.align}}">
    <div class="wrapper">
        <div class="grid">
            
            <div class="asset"
                {% if block.align == 'left' %}
                    data-aos="fade-left"
                {% else %}
                    data-aos="fade-right"
                {% endif %} 
            >
                <img src="{{ Image(title_text_asset.asset).src }}" />
            </div>

            <div class="text-ctn"
                {% if block.align == 'left' %}
                    data-aos="fade-left"
                {% else %}
                    data-aos="fade-right"
                {% endif %} 
                data-aos-delay="500"
            >
                <div class="title cl-{{ title_text_asset.title_grp.title_txt |lower }}">
                    <div class="title-asset">
                        <img src="{{ Image(title_text_asset.title_grp.title_asset).src }}" />
                    </div>

                    {{ title_text_asset.title_grp.title_txt}}
                </div>

                <ul class="list_text">
                    {% for item in title_text_asset.list_text %}
                        {% set delay = 500 + (loop.index * 500) %}
                        <li
                            data-aos="fade-up"
                            data-aos-delay="{{delay}}"
                        >
                            {{ item.text }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        
        </div>
    
    </div>
</div>