$wrapper_bu_heigth: 24rem;
$global_ratio: 0.75;

.slider-effect{
  overflow: hidden;
  max-width: 100%;
}

.wrapper_bu {
  width: 100%;
  position: relative;
  height: #{$wrapper_bu_heigth * $global_ratio};
  font-family: 'Overpass', sans-serif;
  overflow: hidden;
  .holder_bu_center a {
    right: 0;
    bottom: 0;
  }
  @media (max-width: 480px) {
    height: 12rem;
  }

  > div {
    -webkit-transition: width 1s, height 1s, top 1s, left 1s, opacity 1s, font-size 1.5s;
    -moz-transition: width 1s, height 1s, top 1s, left 1s,  opacity 1s, font-size 1.5s;
    -ms-transition: width 1s, height 1s, top 1s, left 1s,  opacity 1s, font-size 1.5s;
    -o-transition: width 1s, height 1s, top 1s, left 1s,  opacity 1s, font-size 1.5s;
    transition: width 1s, height 1s, top 1s, left 1s,  opacity 1s, font-size 1.5s;

    p {
      -webkit-transition: font-size 1s;
      -moz-transition: font-size 1s;
      -ms-transition: font-size 1s;
      -o-transition: font-size 1s;
      transition: font-size 1s;
      line-height: 1.25;
      margin: 0;
    }
    em {
      font-style: normal;
      font-weight: lighter;
    }
    position: absolute;
  }
}



.txt_h1 {
  font-size: 2rem;
}



//$wi3: 12.5% ;
$wi2: ($wrapper_bu_heigth * $global_ratio) / 2 ;
$wi1: ($wrapper_bu_heigth * $global_ratio) / 4 * 3 ;
$wi0: $wrapper_bu_heigth * $global_ratio ;

$offset2: 26rem * $global_ratio;
$offset1: 11rem * $global_ratio;


$fs3: 1.1rem * $global_ratio ;
$fs2: 1.3rem * $global_ratio;
$fs1: 1.5rem * $global_ratio;
$fs0: 2.2rem * $global_ratio;


.holder_bu, .admin_bu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 1rem;
  text-align: center;
}

.holder_bu_awayL2, .admin_bu:nth-child(1) {
  top: 5rem;
  //left: 5rem;
  left: calc(50% - #{$offset2 + $wi2});
  z-index: 3;
  width: $wi2;
  height:$wi2;
  font-size: $fs2;
  p{
    font-size: $fs2;
  }
  @media (max-width: 480px) {
    top:  2.5rem;
    width: 10rem;
    height: 6rem;
    left: -6rem;
    p{
      font-size: #{$fs2 * 0.6} ;
    }
  }
}

.holder_bu_awayL1, .admin_bu:nth-child(2) {
  top: 2.5rem;
  //left: calc(50% - 29rem);
  left: calc(50% - #{$offset1 + $wi1});
  z-index: 4;
  width: $wi1;
  height: $wi1;
  font-size: $fs1;
  p{
    font-size: $fs1;
  }
  @media (max-width: 480px) {
    top:  1.75rem;
    width: 14rem;
    height: 8.4rem;
    left: calc(50% - 18rem);
    p{
      font-size: #{$fs1 * 0.6} ;
    }
  }
}


.holder_bu_center, .admin_bu:nth-child(3) {
  top: 0%;
  left: calc(50% - #{$wi0 / 2});
  z-index: 5;
  width: $wi0;
  height: 100%;
  font-size: $fs0;
  p{
    font-size: $fs0;
  }
  @media (max-width: 480px) {
    width: 20rem;
    left: calc(50% - 10rem);
    p{
      font-size: #{$fs0 * 0.6} ;
    }
  }
}

.holder_bu_awayR1, .admin_bu:nth-child(4) {
  top: 2.5rem;
  left: calc(50% + #{$offset1});
  z-index: 4;
  width: $wi1;
  height: $wi1;
  font-size: $fs1;
  p{
    font-size: $fs1;
  }
  @media (max-width: 480px) {
    top: 1.75rem;
    width: 14rem;
    height: 8.4rem;
    left: calc(50% + 4rem);
    p{
      font-size: #{$fs1 * 0.6} ;
    }
  }
}

.holder_bu_awayR2, .admin_bu:nth-child(5) {
  top: 5rem;
  //left: calc(100% - 17rem);
  left: calc(50% + #{$offset2});
  z-index: 3;
  width: $wi2;
  height: $wi2;
  font-size: $fs2;
  p{
    font-size: $fs2;
  }
  @media (max-width: 480px) {
    top:  2.5rem;
    width: 10rem;
    height: 6rem;
    left: calc(100% - 4rem);
    p{
      font-size: #{$fs2 * 0.6} ;
    }
  }
}
