{% set nbSlides = slider_effect|length %}
{% if nbSlides > 0 %}
<div class="slider-effect">
    <div class="wrapper wrapper_bu">
            {% for post in slider_effect %}
                <div id="bu{{ loop.index }}" class="admin_bu" style="background-color: {{ post.bgcolor }}">{{post.text}}</div>
            {% endfor %}
    </div>
</div>
{% endif %}