<section class="block-list">
    {% if is_preview %}
        <p>I will only appear in the section editor.</p>
    {% endif %}
    {{ block.align }}
    <div class="wrapper wrapper-{{ block.align }}">
        <div class="title">Mon titre</div>
        <div class="texte">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat debitis eius accusantium ea aperiam architecto earum, error officiis tenetur vel repellat placeat nostrum saepe, quae asperiores? Animi laborum corporis aspernatur.</div>
     </div>


</section>