<div class="block-mask-img">
    <img
      style="--mask-img: url('{{ Image(maskImgFields.mask).src}}');"
      class="mask-img"
      src="{{ Image(maskImgFields.img).src | resize(200, 200) }}" alt="{{ Image(maskImgFields.mask).alt}}">
</div>
