<main>
    
    <h1>
        {{ site_title }}
    </h1>
    
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus quo quod tenetur! Minus ratione vitae unde numquam deleniti reiciendis neque optio velit laboriosam aliquid maxime aperiam tempora sit, fugit atque.</p>
    <a href="#">Contact</a>

    {{ post.content }}

</main>