.link {
    .wrapper {
        display: flex;
        justify-content: center;
    }
    a {
        display: block;
        font-size: 1.25rem;
        padding: .875rem 2rem;
        border-radius: 4rem;
        color: #fff;
        background: #258D96;
        text-decoration: none;
        text-transform: uppercase;
    }
}