<div class="block-slider">
    {% if is_preview %}
        <p>I will only appear in the slider editor.</p>
    {% endif %}

    <div class="wrapper">
        <img src="{{ Image(imageTextFields.img).src }}" />
            <div class="title">
                <img src="{{ Image(imageTextFields.title_picto.icon).src }}" />
                {{ imageTextFields.title_picto.title }}
            </div>
            <div class="text">
                {{ imageTextFields.text }}
            </div>
    </div>
</div>

