.block-header-hp {
  padding: 0 2rem;
  height: 40vw;
  @media (max-width: 600px) {
    height: 60vw;
  }
  background-size: cover;
  background-repeat: no-repeat;
  @media (max-width: 800px) {
    background-position: -25px 0px;
  }
  @media (max-width: 600px) {
    background-position: -80px 0px;
  }

  .wrapper {
    max-width: 1280px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding: 0;
    @media (max-width: 600px) {
      height: 60vw;
    }
    @media (max-width: 810px) {
      min-height: auto;
    }
  }
  .ctn {
    display: inline-block;
    margin-right: 0;
    margin-left: auto;
    position: relative;
  }

  .title {
    font-size: 3.25rem;
    color: #fff;
    margin: 0;
    line-height: 1;
  }
  .txt {
    font-size: 1.7em;
    line-height: 1;
    text-align: center;
  }
  @media screen and (max-width: 1279px) {
    .title {
      font-size: 2.75rem;
    }
    .txt {
      font-size: 1.35rem;
    }
  }
  @media screen and (max-width: 1023px) {
    .ctn {
      top: 5%;
      max-width: 65%;
    }
    .title {
      font-size: 2rem;
    }
    .txt {
      font-size: 1.25rem;
    }
  }
  @media screen and (max-width: 740px) {
    .ctn {
      top: 0;
      max-width: 70%;
    }
    .title {
      font-size: 1.5rem;
    }
    .txt {
      font-size: 1rem;
    }
  }
  @media screen and (max-width: 640px) {
    .block-header-hp {
      background-position: -140px 0px;
    }
    .ctn {
      top: 0;
      max-width: 65%;
    }
    .title {
      font-size: 1rem;
    }
    .txt {
      font-size: .875rem;
    }
  }
  @media screen and (max-width: 400px) {
    .block-header-hp {
      background-position: -140px 0px;
    }
    .ctn {
      top: 0;
      max-width: 180px;
    }
    .title {
      font-size: .875rem;
    }
    .txt {
      font-size: .6rem;
    }
  }
}

.header-btn {
  text-align: center;
  a {
    border-radius: 2rem;
    display: inline-block;
    padding: 1rem 2rem;
    color: #2C3E7C;
    background: #FFF;
    border: solid 1px #88BA5C;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.3rem;
    &:not(:last-child) {
      margin-right: 2rem;
    }

  }
  &.only-mobile {
    display: none;
    a {
      &:not(:last-child) {
        margin-right: .5rem;
      }
    }
  }
  @media screen and (max-width: 1439px) {
    a {
      padding: 0.85rem 1.85rem;
      font-size: 1.15rem;
    }
  }
  @media screen and (max-width: 1279px) {
    a {
      padding: 0.75rem 1.75rem;
      font-size: 1rem;
    }
  }
  @media (max-width: 740px) {
    a {
      padding: 1rem 1rem;
      font-size: .875rem;
    }
  }
  @media (max-width: 640px) {
    a {
      border: solid 4px #88BA5C;
      width: 50%;
      padding: 0.75rem .25rem;
      &:first-child {
        margin: 1.25rem .5rem 0 1rem;
      }
      &:last-child {
        margin: 1.25rem 1rem 0 .5rem;
      }
    }
    &.only-desktop { display: none; }
    &.only-mobile { display: flex; }
  }
}

#gocontent {
  display: none;
}
@media (min-width: 960px) {

  #gocontent {
    position: relative;
    top: -2rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    margin: 0 auto;
    svg {
      width: 100%;
      height: auto;
    }
  }
}