<div class="block-header-hp" style="background-image:url({{ Image(headerHpFields.img).src }})">
    <div class="wrapper">
       <div class="ctn" 
           data-aos="fade-left"
       >
        <h1 class="title">
            {{headerHpFields.title}}
        </h1>
        <p class="txt">
            {{headerHpFields.txt}}
        </p>
        <div class="header-btn only-desktop">
            {% for item in headerHpFields.listBtn %}
            {% set delay = (loop.index * 500) %}
                <a href="{{ item.url}}"
                    data-aos="fade-up"
                    data-aos-delay="{{ delay }}"
                >
                    {{ item.title }}
                </a>
            {% endfor %}
        </div>
        </div>
    </div>
    <a href="#content" id="gocontent">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="81" height="81" viewBox="0 0 81 81"><defs><clipPath id="a"><rect width="81" height="81" fill="none"/></clipPath></defs><g clip-path="url(#a)"><g transform="translate(-920 -871)"><circle cx="40.5" cy="40.5" r="40.5" transform="translate(920 871)" fill="#88ba5c" opacity="0.58"/><g transform="translate(155 -287.504)"><line x2="26.504" y2="26.504" transform="translate(778.5 1185.5)" fill="none" stroke="#fff" stroke-width="3"/><line x1="26.504" y2="26.504" transform="translate(805.004 1185.5)" fill="none" stroke="#fff" stroke-width="3"/></g></g></g></svg>
    </a>
</div>
<div class="header-btn only-mobile">
    {% for item in headerHpFields.listBtn %}
        <a href="{{ item.url}}">
            {{ item.title }}
        </a>
    {% endfor %}
</div>

