@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";


#slider-client-logo {
    max-width: 60rem;
    margin: 0 auto;
    .wrapper {
        max-width: none;
    }
    img {
        display: block;
        margin: auto;
        width: 100%;
        max-width: 100%;
    }
    .glide__slide {
        padding: 0 2rem;
        @media screen and (max-width: 767px) {
            padding: 0 1rem;
        }

    }
}