{% set nbSlides = Post(slider_client_logo)|length %}
{% if nbSlides > 0 %}
<div id="slider-client-logo" class="slider-client-logo glide">
    <div class="wrapper glide__track" data-glide-el="track">
        <div class="grid glide__slides">
            {% for post in Post(slider_client_logo) %}
                <div class="glide__slide">
                    <img src="{{ Image(post.client_logo).src }}" />
                </div>
            {% endfor %}
        </div>

        {% if nbSlides > 1 %}
        <div data-glide-el="controls" class="controls">
            <button class="prev" data-glide-dir="&lt;"><svg xmlns="http://www.w3.org/2000/svg" width="37.987" height="132.5" viewBox="0 0 37.987 132.5">
                    <path id="Tracé_12785" data-name="Tracé 12785" d="M0,0,65.227,34.452,128.439,0" transform="translate(35.952 2.027) rotate(90)" fill="none" stroke="#258d96" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                </svg>
            </button>
            <button class="next" data-glide-dir="&gt;"><svg xmlns="http://www.w3.org/2000/svg" width="37.987" height="132.5" viewBox="0 0 37.987 132.5">
                    <path id="Tracé_12786" data-name="Tracé 12786" d="M0,0,65.227,34.452,128.439,0" transform="translate(2.035 130.474) rotate(-90)" fill="none" stroke="#258d96" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                </svg>
            </button>
        </div>
        {% endif %}
    </div>
</div>
{% endif %}