<div class="table-comparative">
    <div class="wrapper">
        <div class="table with"
            data-aos="fade-up"
            data-aos-duration="1000"
        >
            <div class="title">
                <div class="icon"><span>-</span></div>
                Sans nous !
            </div>
            {% for post in table_comparative.list_with %}
                {% set delay = 1000 + ((loop.index/2) * 300) %}
                <div class="text"
                    data-aos="fade-up"
                    data-aos-delay="{{ delay }}"
                >
                    {{post.text}}
                </div>
            {% endfor %}
        </div>
        <hr>
        <div class="table without"
            data-aos="fade-up"
            data-aos-duration="1000"
        >
            <div class="title">
                <div class="icon"><span>+</span></div>
                <div class="txt-ic">
                    Avec n<img src="{{site.url}}/wp-content/uploads/2020/09/brisset-small.svg" alt="">us !
                </div>
            </div>
            {% for post in table_comparative.list_without %}
                {% set delay = 1000 + ((loop.index/2) * 300) %}
                <div class="text"
                    data-aos="fade-up"
                    data-aos-delay="{{ delay }}"
                >
                    {{post.text}}
                </div>
            {% endfor %}
        </div>
    </div>
</div>