.table-comparative {
    .wrapper {
        @media (min-width: 680px) {
            display: flex;
            justify-content: space-evenly;
        }
    }
    hr {
        width: 4px;
        margin: 0 2rem;
        border-radius: 4px;
        border: none;
        background: #263575;
    }
    .table {
        @media (min-width: 680px) {
            width: calc(100% / 2 - 1rem - 4px);
        }
        &.with {
            @media (max-width: 680px - 1px) {
                margin-bottom: 2rem;
            }
            color: #263575;
            .title {
                .icon {
                    color: #263575;
                    border-color: #263575;
                }
            }
            .text:after {
                background: #263575;
            }
        }
        &.without {
            color: #258D96;
            .title {
                .icon {
                    color: #258D96;
                    border-color: #88BA5C;
                }
            }
            .text:after {
                background: #88BA5C;
            }
        }
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2rem;
        text-transform: uppercase;
        .txt-ic {
            display: flex;
            align-items: center;
            img {
                position: relative;
                top: -4px;
                max-width: 1.5rem;
            }
        }
        .icon {
            font-family: sans-serif;
            font-size: 4rem;
            height: 4rem;
            width: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 1;
            border: solid 8px;
            border-radius: 100%;
            margin-bottom: .5rem;
            span {
                position: relative;
                top: -4px;
            }
        }
    }
    .text {
        padding: 0 2rem;
        text-align: center;
        &:not(:last-child) {
            &:after {
                content: "";
                width: 4rem;
                height: 2px;
                border-radius: 4px;
                display: block;
                margin: .875rem auto .5rem;
            }
        }
    }
}