.block-header {
    color: #fff;
    background: #212121;
}

div[data-key="field_1e2fd6d0"] {

}
th[data-key="field_81fe2f75"] {
    width: 40px!important;
}
th[data-key="field_bc611b86"] {
    width: auto!important;
}