<header class="header">
    {% if is_preview %}
    
    <style type="text/css">
    div[data-key="field_1e2fd6d0"] {

}
th[data-key="field_81fe2f75"] {
    width: 40px!important;
}
th[data-key="field_bc611b86"] {
    width: auto!important;
}

</style>
        <p>I will only appear in the slider editor.</p>
    {% endif %}

    <div class="wrapper">
        <div>{{ dump(headerFields) }}</div>
    </div>

</header>