<div class="text-asset">
    <div class="wrapper">

        <div class="grid">

            <div class="asset"
                data-aos="fade-right"
            >
                <img src="{{ Image(text_asset.assets).src }}" />
            </div>

            <div class="text"
                data-aos="fade-left"
                data-aos-delay="300"
            >
                <InnerBlocks />
            </div>
        
        </div>
    
    </div>
</div>