
.text-asset {
    .grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media (min-width: 50rem) {
            flex-direction: row;
        }
    }
    ul {
        list-style: none;
        margin: 0 0 -2rem;
        padding: 0;
         max-width: 50rem;
         margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
     //    @media (min-width: 960px) {
     //     justify-content: center;
     //     }
    }
    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:0 1rem 2rem;
     //    @media (min-width: 960px) {
     //        width: calc(100% / 3);
     //    }
    }
    .asset {
        width: 7rem;
        img {
            width: 100%;
        }
        @media (min-width: 50rem) {
            margin-right: 2rem;
        }
    }
    .text {
        flex: 1;
        max-width: 50rem;
        font-size: 1.5rem;
    }
 }