{% extends './_base.twig' %}

{% block main %}
    
    <header>
        <div class="text">
            <h1>{{ post.title }}</h1>
        </div>

    </header>
    {# <div>{{ post.content }}</div> #}
    {# <div>
        <div class="article_content" contenteditable="true" style="font-family:'Poppins', sans-serif;">
            <h1 class="article_header" style="font-size: 7.594em;">A Visual Type Scale</h1>
            <p>What looked like a small patch of purple grass, above five feet square, was moving across the sand in their direction.</p>
            <p>When it came near enough he perceived that it was not grass; there were no blades, but only purple roots. The roots were revolving, for each small plant in the whole patch, like the spokes of a rimless wheel.</p>
            <h2 class="article_header" style="font-size: 5.063em;">A Visual Type Scale</h2>
            <p>What looked like a small patch of purple grass, above five feet square, was moving across the sand in their direction.</p>
            <p>When it came near enough he perceived that it was not grass; there were no blades, but only purple roots. The roots were revolving, for each small plant in the whole patch, like the spokes of a rimless wheel.</p>
            <h3 class="article_header" style="font-size: 3.375em;">A Visual Type Scale</h3>
            <p>What looked like a small patch of purple grass, above five feet square, was moving across the sand in their direction.</p>
            <p>When it came near enough he perceived that it was not grass; there were no blades, but only purple roots. The roots were revolving, for each small plant in the whole patch, like the spokes of a rimless wheel.</p>
            <h4 class="article_header" style="font-size: 2.25em;">A Visual Type Scale</h4>
            <p>What looked like a small patch of purple grass, above five feet square, was moving across the sand in their direction.</p>
            <p>When it came near enough he perceived that it was not grass; there were no blades, but only purple roots. The roots were revolving, for each small plant in the whole patch, like the spokes of a rimless wheel.</p>
            <h5 class="article_header" style="font-size: 1.5em;">A Visual Type Scale</h5>
            <p>What looked like a small patch of purple grass, above five feet square, was moving across the sand in their direction.</p>
            <p>When it came near enough he perceived that it was not grass; there were no blades, but only purple roots. The roots were revolving, for each small plant in the whole patch, like the spokes of a rimless wheel.</p>
            <p class="text_small">— Excerpt from A Voyage to Arcturus, by David Lindsay.</p>
            </div>
    </div> #}


    <section class="text">
        <h1>A Visual Type Scale</h1>
        <p>What looked like a small patch of purple grass, above five feet square, was moving across the sand in their direction.</p>
        <p>When it came near enough he perceived that it was not grass; there were no blades, but only purple roots. The roots were revolving, for each small plant in the whole patch, like the spokes of a rimless wheel.</p>
        <a href="#">Go to page</a>

        <h2>A Visual Type Scale</h2>
        <p><strong>What looked like a small patch of purple grass</strong>, above five feet square, was moving across the sand in their direction.</p>
        <p><i>When it came near enough he perceived that it was not grass; there were no blades, but only purple roots. The roots were revolving, for each small plant in the whole patch, like the spokes of a rimless wheel.</i></p>
        <p class="small">— Excerpt from A Voyage to Arcturus, by David</p>
        <p>When it came near enough he perceived that it was not grass; there were no blades, but only purple roots. The roots were revolving, for each small plant in the whole patch, like the spokes of a rimless wheel.</p>
        <p class="big"><strong>When it came near enough he perceived that it was not grass; there were no blades, but only purple roots. The roots were revolving, for each small plant in the whole patch, like the spokes of a rimless wheel.</p>
        <p>When it came near enough he perceived that it was not grass; there were no blades, but only purple roots. The roots were revolving, for each small plant in the whole patch, like the spokes of a rimless wheel.</strong></p>
        <h3>A Visual Type Scale</h3>
        <p><strong>What looked like a small patch of purple grass, above five feet square, was moving across the sand in their direction.</strong></p>
        <p class="small">— Excerpt from A Voyage to Arcturus, by David</p>
        <p>When it came near enough he perceived that it was not grass; there were no blades, but only purple roots. The roots were revolving, for each small plant in the whole patch, like the spokes of a rimless wheel.</p>
        <h4>A Visual Type Scale</h4>
        <p>What looked like a small patch of purple grass, above five feet square, was moving across the sand in their direction.</p>
        <p class="big">When it came near enough he perceived that it was not grass; there were no blades, but only purple roots. The roots were revolving, for each small plant in the whole patch, like the spokes of a rimless wheel.</p>
        <p>When it came near enough he perceived that it was not grass; there were no blades, but only purple roots. The roots were revolving, for each small plant in the whole patch, like the spokes of a rimless wheel.</p>
    </section>

    

   

    <section class="image">
        <div class="ctn">
            <img src="https://picsum.photos/seed/picsum/960/540" alt="">
            <div class="text">
                <p class="small">— Excerpt from A Voyage to Arcturus, by David</p>
            </div>      
        </div>
        <div class="text">
            <h4>A Visual Type Scale</h4>
            <p>What looked like a small patch of purple grass, above five feet square, was moving across the sand in their direction.</p>
            <p class="big">When it came near enough he perceived that it was not grass; there were no blades, but only purple roots. The roots were revolving, for each small plant in the whole patch, like the spokes of a rimless wheel.</p>
            <p>When it came near enough he perceived that it was not grass; there were no blades, but only purple roots. The roots were revolving, for each small plant in the whole patch, like the spokes of a rimless wheel.</p>
            <p><i>When it came near enough he perceived that it was not grass; there were no blades, but only purple roots. The roots were revolving, for each small plant in the whole patch, like the spokes of a rimless wheel.</i></p>
        </div>
    </section>

    <section class="grid">
        <article>
            <img src="" alt="">
            <div class="text">
                <h3>Lorem impsum</h3>
                <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. At voluptatum quasi fugit cum sunt, necessitatibus architecto, reiciendis, possimus fugiat sit corporis similique dolorem porro enim sint ratione adipisci in cupiditate.</p>
            </div>
        </article>
        <article>
            <img src="" alt="">
            <div class="text">
                <h3>Lorem impsum</h3>
                <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. At voluptatum quasi fugit cum sunt, necessitatibus architecto, reiciendis, possimus fugiat sit corporis similique dolorem porro enim sint ratione adipisci in cupiditate.</p>
            </div>
        </article>
    </section>
    <section class="grid-article">
        <article>
            <img src="https://picsum.photos/seed/picsum/720/540" alt="">
            <div class="text">
                <h3>Lorem ipsum</h3>
                <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. At voluptatum quasi fugit cum sunt, necessitatibus architecto, reiciendis, possimus fugiat sit corporis similique dolorem porro enim sint ratione adipisci in cupiditate.</p>
            </div>
        </article>
    </section>

    <section class="form">
        <form action="#">
            <div>
                <label for="email">
                    <icon name="mail"></icon>
                    E-mail
                </label>
                <input type="text" name="email" id="email">
            </div>
            <button type="submit">Envoyer</button>
        </form>
    </section>

     <section class="button">
        <a href="#">Lien vers une page</a>
        <button>
            Boutton pour une action
        </button>
    </section>

     <section>
      <nav aria-label="Breadcrumb">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Library</a></li>
          <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ul>
      </nav>
    </section>
    <section>
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item page-prev"><a href="#">Previous</a></li>
          <li class="page-item"><a href="#">1</a></li>
          <li class="page-item active"><a href="#">2</a></li>
          <li class="page-item"><a href="#">3</a></li>
          <li class="page-item"><a href="#">4</a></li>
          <li class="page-item"><a href="#">5</a></li>
          <li class="page-item page-next"><a href="#">Next</a></li>
        </ul>
      </nav>
    </section>

    <section>
      <div class="accordion js-accordion">
        <div class="accordion-panel">
          <a href="#panel-1" data-target="#panel-1" class="accordion-panel-header" aria-expanded="false" aria-controls="panel-1">
            Our Company
          </a>
          <div class="collapse" id="panel-1">
            <p>
              At Themesberg, our mission has always been focused on bringing
              openness and transparency to the design process. We've always
              believed that by providing a space where designers can share
              ongoing work not only empowers them to make better products, it
              also helps them grow. We're proud to be a part of creating a more
              open culture and to continue building a product that supports this
              vision.
            </p>
          </div>
        </div>
        <div class="accordion-panel">
          <a href="#panel-2" data-target="#panel-2" class="accordion-panel-header" data-toggle="collapse" aria-expanded="false" aria-controls="panel-1">
            Pixel Components
          </a>
          <div class="collapse" id="panel-2">
            <p>
              At Themesberg, our mission has always been focused on bringing
              openness and transparency to the design process. We've always
              believed that by providing a space where designers can share
              ongoing work not only empowers them to make better products, it
              also helps them grow. We're proud to be a part of creating a more
              open culture and to continue building a product that supports this
              vision.
            </p>
          </div>
        </div>
        <div class="accordion-panel">
          <a href="#panel-3" data-target="#panel-3" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
            Licenses
          </a>
          <div class="collapse" id="panel-3">
            <p>
              At Themesberg, our mission has always been focused on bringing
              openness and transparency to the design process. We've always
              believed that by providing a space where designers can share
              ongoing work not only empowers them to make better products, it
              also helps them grow. We're proud to be a part of creating a more
              open culture and to continue building a product that supports this
              vision.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="alert" aria-atomic="true" role="alert">
        This is a primary alert.
      </div>
      <div class="alert-ic" aria-atomic="true" role="alert">
        <span>IC</span>
        This is a primary alert.
      </div>
    </section>

    <section>
      <a href="#" class="badge">
        Badge 1
      </a>
      <a href="#" class="badge">
        Badge 2
      </a>
      <a href="#" class="badge">
        Badge 3
      </a>
    </section>

    <section>
      <a href="#" class="btn">Link button</a>
      <button href="#" class="btn">Button</button>

      <a href="#" class="btn-radius">Link button</a>
      <button href="#" class="btn-radius">Button</button>

      <a href="#" class="btn-round">Link button</a>
      <button href="#" class="btn-round">Button</button>

      <a href="#" class="btn btn-ic"> <span>ic</span> Link button</a>
      <button href="#" class="btn btn-ic"><span>ic</span> Button</button>
    </section>

    <section>
      <form action="">
        <div class="form-group form-group-select">
          <label for="inlineFormCustomSelectPref">Country</label>
        <select class="form-select" id="inlineFormCustomSelectPref">
            <option selected="selected">Choose...</option>
            <option value="1">United States</option>
            <option value="2">Germany</option>
            <option value="3">Canada</option>
        </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Example textarea</label>
          <textarea class="form-control" placeholder="Enter your message..." id="exampleFormControlTextarea1" rows="4"></textarea>
        </div>
        <div class="form-group">
          <label for="exampleInputIcon2">Icon Right</label>
          <div class="input-group mb-4">
            <input class="form-control" id="exampleInputIcon2" placeholder="Icon Right" aria-label="Input group" type="text">
            <div class="input-group-append">
              <span class="input-group-text"><span class="fas fa-search"></span></span>
            </div>
          </div>
        </div>
      </form>

      <form action="">
        <div class="form-group">
          <label for="exampleInputSubmit">Input with submit</label>
            <div class="input-group input-group-submit">
                <input class="form-control" id="exampleInputSubmit" placeholder="Icon Right" aria-label="Input group" type="text">
                <input type="submit" value="OK">
            </div>
        </div>
      </form>

      <form action="">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck10">
            <label class="form-check-label" for="defaultCheck10">Default checkbox</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck20">
            <label class="form-check-label" for="defaultCheck20">Second Default checkbox</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck30">
            <label class="form-check-label" for="defaultCheck30">Third Default checkbox</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheckDisabled" disabled="disabled">
            <label class="form-check-label" for="defaultCheckDisabled">Disabled checkbox</label>
        </div>
      </form>

      <form action="">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked="checked">
                <label class="form-check-label" for="exampleRadios1">Default radio</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">Second default radio</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled="">
                <label class="form-check-label" for="exampleRadios3">Disabled radio</label>
            </div>
      </form>
    </section>
{% endblock %}