{% extends './_base.twig' %}

{% block main %}

    <h1>{{ post.title }}</h1>
    <div>{{ post.content }}</div>

    {# <header>

        <h1>
            Liste des blocks
        </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, hic dolorem commodi similique laborum distinctio aliquid obcaecati corrupti maiores quibusdam magni suscipit voluptatum? Nihil eum aspernatur ut, dolorum nisi cumque.
        </p>

    </header>

    <section>
        <div class="article_content" contenteditable="true" style="font-family:'Poppins', sans-serif;">
            <h1 class="article_header" style="font-size: 7.594em;">A Visual Type Scale</h1>
            <p>What looked like a small patch of purple grass, above five feet square, was moving across the sand in their direction.</p>
            <p>When it came near enough he perceived that it was not grass; there were no blades, but only purple roots. The roots were revolving, for each small plant in the whole patch, like the spokes of a rimless wheel.</p>
            <h2 class="article_header" style="font-size: 5.063em;">A Visual Type Scale</h2>
            <p>What looked like a small patch of purple grass, above five feet square, was moving across the sand in their direction.</p>
            <p>When it came near enough he perceived that it was not grass; there were no blades, but only purple roots. The roots were revolving, for each small plant in the whole patch, like the spokes of a rimless wheel.</p>
            <h3 class="article_header" style="font-size: 3.375em;">A Visual Type Scale</h3>
            <p>What looked like a small patch of purple grass, above five feet square, was moving across the sand in their direction.</p>
            <p>When it came near enough he perceived that it was not grass; there were no blades, but only purple roots. The roots were revolving, for each small plant in the whole patch, like the spokes of a rimless wheel.</p>
            <h4 class="article_header" style="font-size: 2.25em;">A Visual Type Scale</h4>
            <p>What looked like a small patch of purple grass, above five feet square, was moving across the sand in their direction.</p>
            <p>When it came near enough he perceived that it was not grass; there were no blades, but only purple roots. The roots were revolving, for each small plant in the whole patch, like the spokes of a rimless wheel.</p>
            <h5 class="article_header" style="font-size: 1.5em;">A Visual Type Scale</h5>
            <p>What looked like a small patch of purple grass, above five feet square, was moving across the sand in their direction.</p>
            <p>When it came near enough he perceived that it was not grass; there were no blades, but only purple roots. The roots were revolving, for each small plant in the whole patch, like the spokes of a rimless wheel.</p>
            <p class="text_small">— Excerpt from A Voyage to Arcturus, by David Lindsay.</p>
            </div>
    </section> #}
{% endblock %}
