.list-step {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    li {
        text-align: center;
        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        &:nth-child(1) {
            color: #263575;
        }
        &:nth-child(2) {
            color: #258D96;
        }
        &:nth-child(3) {
            color: #88BA5C;
        }
        &:nth-child(4) {
            color: #A0A0A0;
        }

    }
    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 6rem;
        line-height: 1;
        font-weight: 300;
        margin-bottom: .5rem;
        strong {
            height: 4rem;
        }
        span {
            height: 4rem;
        }
    }
    .text {
        max-width: 50rem;
        margin: 0 auto;
        font-size: 1.5rem;
        padding: 0 2rem;
        @media screen and (max-width: 600px) {
            font-size: 1.2rem;
        }
    }
    .asset {
        margin-left: 1rem;
        max-width: 6rem;
        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
}