<div class="list-step">
    <div class="wrapper">
        <ul class="list_text">
            {% for item in list_step.list_step %}
                {% set delay = 250 * (loop.index * 1) %}
                <li
                    data-aos="fade-up"
                    data-aos-delay="{{ delay }}"
                >
                    <div class="title">
                        <strong>{{loop.index}}</strong> <span>/</span>
                        <div class="asset">
                            <img src="{{ Image(item.asset).src }}" />
                        </div>
                    </div>
                    <div class="text">
                        {{ item.text }}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>