<div class="block-slider">
    {% if is_preview %}
    <style type="text/css">
        .block-slider{
            background: red;
        }
        </style>
        <p>I will only appear in the slider editor.</p>
    {% endif %}

    <div class="wrapper glide">
        <div>{{ sliderFields.titre }}</div>
        <div class="glide__track" data-glide-el="track">
            <div class="glide__slides">
                {% for item in sliderFields.slider %}
                    <div class="slide">
                        <div class="title">
                        {{ item.name }}
                        </div>
                        <img src="{{ Image(item.img).src }}" />
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>

