@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
// @import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";


.block-slider {
    background:green!important;

    .slide {
        position: relative;
        margin-left: 0!important;
        .title {
            background: #000;
            color: white;
            padding: 1rem;
            position: absolute;
            bottom: 1rem;
            left: 1rem;
        }
    }
}