
$cl-body : #2C3E7C;

$step1: 1440px;
$step2: 1280px;
$step3: 1024px;
$step4: 768px;
$step5: 425px;

@mixin btn-reset() {
    display: flex;
    appearance: none;
    border: none;
    background: transparent;
    padding: 0;
}