.wp-block {
    max-width: 1480px;
    h1, h2, h3, h4, h5 {
        font-size: 2.5rem;
        font-size: 2.5rem;
        font-weight: 100;
        text-transform: uppercase;
        margin: 2rem 0 1.5rem;
        text-align: center;
        @media (max-width: 640px) {
            font-size: 1.5rem;
            margin: 1rem;
        }
    }
}
.wp-block[data-align=left], .wp-block[data-align=right] {
    height: auto;
}

.wp-block[data-align=right]>* {
    float: none!important;
}

.wp-block[data-align=left]>* {
    float: none!important;
}
