.cc-window.cc-banner{
  width: 1024px;
  left: 50%;
  margin-left: -512px;
  top: 25%;
  display: flex;
  flex-direction: column;
  padding: 5rem 10rem 5rem;
  font-size: 1.75rem;
  text-align: center;
  line-height: 1.2;
  font-weight: 100;
  .cc-message{
    margin: 0;
  }
  .cc-link{
    display: block;
  }
  .cc-compliance{
    margin-top: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cc-btn{
    border-radius: 2rem;
    font-weight: 100;
    flex-shrink: 0;
    margin: 0.5rem;
    &.cc-deny{
      border: 1px solid #707070;
    }
    &.cc-allow{
      border: 1px solid #71AB5C;
    }
  }
  @media (max-width: 1023px) {
    width: 80%;
    left: 10%;
    margin-left: 0;
    padding: 5rem 8rem 5rem;
  }

  @media (max-width: 768px) {
    padding: 4rem 5rem 4rem;
    top: 10%;
  }

  @media (max-width: 550px) {
    padding: 2rem 2rem 2rem;
    top: 10%;
    font-size: 1.5rem;
  }
}