.footer {
    margin-top: 1rem;
    .wrapper {
        padding: 0 1rem;
        @media (min-width: 810px) {
            display: grid;
            grid-template-columns: 12rem 1fr;
            gap: 4rem;
            align-items: center;
        }
    }
    .ctn {
        padding: 1rem 0;
        color: #fff;
        background: #258D96;
    }
    .logo {
        text-align: center;
        svg {
            max-width: 10rem;
            width: 100%;
            height: auto;
            @media (min-width: 810px) {
                max-width: auto;
                grid-template-columns: 1fr 1fr 1fr;
                gap: .5rem;
            }
        }
        @media (max-width: 810px - 1) {
            margin-bottom: 1rem;
        }
    }
    .nav-footer {
        display: grid;
        @media (min-width: 810px) {
            grid-template-columns: 1fr 1fr 1fr;
            gap: .5rem;
        }
        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0;
            margin: 0;
            @media (max-width: 810px - 1) {
               text-align: center;
            }
        }
        li {
            list-style: none;
            padding: .25rem;
        }
        a {
            text-decoration: none;
            padding: .25rem;
        } 
    }
    .legal {
        font-size: .875rem;
        padding: 1rem;
        text-align: center;
    }

    ul.nav-contact {
        @media (max-width: 810px - 1) {
            text-align: center;
            margin-top: 1rem;
        }
        li {
            display: flex;
            align-items: center;
            @media (max-width: 810px - 1) {
                justify-content: center;
                text-align: center;
            }
        }
        li:before {
            content: "";
            width: 3rem;
            height: 3rem;
            display: inline-block;
            background-size: cover;
            margin-right: .5rem;
        }
        li:nth-child(2) {
            a {
                text-transform: uppercase;
                border-radius: 2rem;
                padding: 1rem 1rem;
                color: #88BA5C;
                background: #FFF;
                line-height: 1;
            }
        }
        li:last-child {
            a {
                font-size: 1.5rem;
                line-height: 1;
            }
        }
    }
}