@import '_atoms.scss';

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $cl-body;
    padding: 0;
    margin: 0;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}
a {
    color: inherit;
}

h1, h2, h3, h4, h5 {
    font-size: 2.5rem;
    font-size: 2.5rem;
    font-weight: 100;
    text-transform: uppercase;
    margin: 2rem 0 1.5rem;
    text-align: center;
    @media (max-width: 640px) {
        font-size: 1.5rem;
        margin: 1rem;
    }
}
.title-left {
    h1, h2, h3, h4, h5,
    h1 &, h2 &, h3 &, h4 &, h5 & {
       text-align: left;
    }
}
p {
    font-size: 1.25rem;
}
.wrapper-max {
    max-width: 1920px;
    margin: 0 auto;
}

.wrapper, main > * {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
}

main {
    margin-bottom: 5rem;
    h2, h3, h4, h5 {
        color: #258D96;
        text-align: left;
        margin-top: 1rem;
    }
    h2 {
        font-size: 1.75rem;
    }
    h3, h4, h5 {
        font-size: 1.5rem;
    }
    h4, h5 {
        font-size: 1.25rem;
    }
}

.form {
    flex: 1;
    max-width: 40rem;
    form, label, input, textarea {
        width: 100%;
        font: inherit;
        p {
            text-align: center;
        }
    }
    br {
        display: none;
    }
    input, textarea {
        border: solid 2px #263575;
        padding: 1rem 1rem;
        border-radius: 28px;
        margin-bottom: 1rem;
        &:focus {
            outline: none;
            box-shadow: 0px 0px 2px #0066ff;
        }
    }
    textarea {
        appearance: none;
    }
    input[type="submit"] {
        display: inline-block;
        color: #fff;
        background: #263575;
        width: auto;
        text-transform: uppercase;
        text-align: center;
        margin: auto;
        padding: 1rem 2rem;
    } 
    span.wpcf7-list-item {
        text-align: left;
        margin: 0 0 1rem;
        label {
        display: flex;
        }
        input { width: auto; margin-right: .5rem; }
    }

    .wpcf7-not-valid-tip {
        position: relative;
        top: -.5rem;
        margin-left: 1rem;
        text-align: left;
    }
    .wpcf7-not-valid {
        border-color: #dc3232;
    }
}




.cl-audit {
    color: #263575;
}
.cl-conseil {
    color: #1C8D96;
}
.cl-formation {
    color: #87B95C;
}


.glide__track {
    position: relative;
    padding: 0;
}
.glide__slides {
    align-items: center ;
}
.controls {
    // height: 100%;
    button {
        position: absolute;
        top: 18%;
        bottom: 18%;
        z-index: 1;
        outline: none;
        appearance: none;
        border:none;
        background: transparent;
        max-height: 70%;
        svg {
            height: 100%;
        }
        &.prev {
            left: 0;
        }
        &.next {
            right: 0;
        }
    }

}

.wp-block-spacer {
    height: 2rem!important;
}
.has-text-align-center {
    font-size: 1.5;
}

.p-not-found {
    min-height: 80vh;
    
    .wrapper {
        text-align: center;
    }
    .not-found {
        position: relative;
        h1 {
            top: 50%;
            left: 35%;
            font-weight: 200;
            color: #FFF;
            font-size: 6rem;
            letter-spacing: 1px;
            position: absolute;
            margin: 0;
            text-transform: none;
            line-height: 1;
            margin-top: -2.8rem;
            @media screen and (max-width: 960px) {
                left: 15%;
                font-size: 3.5rem;
                margin-top: -1.75rem;
            }
            @media screen and (max-width: 600px) {
                left: 10%;
                font-size: 3rem;
                margin-top: -1.5rem;
            }
        }
        margin-bottom: 4rem;
    }
    h2 {
        text-transform: none;
    }
    p {
        margin: 0 auto 1rem;
        max-width: 30rem;
    }
    .link {
        a {
            display: inline-block;
            font-size: 1.25rem;
            padding: .875rem 2rem;
            border-radius: 4rem;
            color: #fff;
            background: #258D96;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}

.breadcrumb {
    margin: 0 auto 4rem;
    @media screen and (max-width: 960px) {
        margin: 2rem auto 2rem ;
        font-size: .875rem;
    }
    a {
        text-decoration: none;
    }
}

.nav,
.nav-footer {
    a {
        transition: opacity .3s;
    }
    a:hover {
        transition: opacity .3s;
        opacity: .8;
    }
}
.nav-footer {
    ul:not(.nav-contact) {
        a:hover {
            text-decoration: underline;
        }
    }
}

html {
    scroll-behavior: smooth;
    width: 100%;
  }