
@import '_atoms.scss';
$break: 990px;

.header {
    width: 100%;
    
    .wrapper {
        @media screen and (min-width: $break) {
            display: grid;
            grid-template-columns: 18rem 1fr;
            align-items: center;
            padding: 1rem 0;
        }
    }


    .topbar {
        @media screen and (max-width: $break - 1) {
            width: 100%;
            display: grid;
            grid-template-columns: 12rem auto;
        }
    }
    
    @media screen and (max-width: $break - 1) {
        .only-desktop {
            display: none!important;
        }
    }


    .logo {
        a {
            display: block;
            padding: .5rem;
        }
        svg {
            width: 100%;
            height: auto;
        }
        @media screen and (max-width: $step1 - 1) {
            max-width: 15rem;
            height: 4rem;
        }
        @media screen and (max-width: $step2 - 1) {
            max-width: 13rem;
        }

        @media screen and (max-width: $break - 1) {
            max-width: 12rem;
            height: 3.375rem;
        }
    }
    .nav {
        background: #fff;
        margin-left: 1rem;
        @media screen and (max-width: $break - 1) {
            margin-left: 0;
        }
        &:not(.nav-pills) {
            a {
                padding: .875rem 1rem;
                @media screen and (max-width: $step1 - 1) {
                    padding: .75rem 1.5rem;
                    font-size: .75rem;
                }
                @media screen and (max-width: $step2 - 1) {
                    padding: .5rem 1rem;
                    font-size: .7rem;
                }
                @media screen and (max-width: $step3 - 1) {
                    padding: .5rem 1rem;
                    font-size: .65rem;
                }
                @media screen and (max-width: $break - 1) {
                    padding: .875rem 2rem;
                    border-bottom: 1px solid #707070;
                }
            }
            @media screen and (min-width: $break) {
                li:last-child  a {
                    border-top-left-radius: 2rem;
                    border-bottom-left-radius: 2rem;
                    color: #FFF;
                    background: #258D96;
                    position: relative;
                    &:after {
                        z-index: -1;
                        content: "";
                        background: #258D96;
                        position: absolute;
                        left: 2rem;
                        top: 0;
                        bottom: 0;
                        width: 50vw;
                    }
                }
            }
        }
        ul {
            display: flex;
            margin: 0;
            padding: 0;
            @media screen and (max-width: $break - 1) {
                flex-direction: column;
            }
        }
        li {
            list-style: none;
            @media screen and (min-width: $break) {
                &:not(:last-child) {
                    margin-right: 1rem;
                }
            }
            @media screen and (max-width: $break - 1) {
                // margin-bottom: .25rem;
            }
        }
        a {
            @media screen and (max-width: $break - 1) {
                padding: .5rem 2rem;
                text-align: center;
            }
            display: block;
            text-decoration: none;
            text-transform: uppercase;
            color: #263575;
            font-size: .85rem;
            font-weight: bold;
        }
    }
    .nav-pills {
        --background-pills: #FFF;
        --border-pills: #88BA5C;
        --color-pills: #2C3E7C;

        margin: auto;
        a {
            padding: .875rem 2rem;
            border-radius: 3rem;
            margin: .25rem 1rem;
            @media screen and (min-width: $break) {
                margin: 0;
            }
            color: #fff;

            @media screen and (max-width: $step1 - 1) {
                padding: .75rem 1.5rem;
                font-size: .75rem;
            }
            @media screen and (max-width: $step2 - 1) {
                padding: .5rem 1rem;
                font-size: .7rem;
            }
            @media screen and (max-width: $step3 - 1) {
                padding: .5rem .75rem;
                font-size: .65rem;
            }
        }
        .pill-xx {
            background: var(--background-pills) ;
            color: var(--color-pills);
            border: solid 1px var(--border-pills);

            @media screen and (max-width: $break - 1) {
                &.not-pills-xs {
                    border-radius: 0;
                    margin: 0;
                    border-top: 0px;
                    border-right: 0px;
                    border-left: 0px;
                    padding: .875rem 2rem;
                    border-bottom: 1px solid #707070;
                }
            }
        }
    }

    .nav-btn {
        z-index: 10;
        @media screen and (max-width: $break - 1) {
            justify-self: flex-end;
        }
        button {
            @include btn-reset();
            cursor: pointer;
        }

        &.nav-open {
            button {
                padding: .5rem;
            }
            svg {
                width: 2rem;
                height: 2rem;
                rect {
                    fill: #333;
                    width: 100%;
                    height: 4px;
                }
            }
            @media screen and (min-width: $break) {
                display: none;
            }
            @media screen and (max-width: $break - 1) {
                display: flex;
                .navIsOpen & {
                    display: none;
                }
            }
        } 
        &.nav-close {
            button {
                padding: .75rem;
            }
            svg {
                width: 1.5rem;
                height: 1.5rem;
                fill: #333;
            }
            display: none;
            .navIsOpen & {
                display: block;
            }
        } 
        
    }

    .nav-header {
        width: 100%;
        margin-left: 1rem;
        @media screen and (min-width: $break) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        } 
        @media screen and (max-width: $break - 1) {
            position: fixed;
            top: 3.375rem;
            bottom: 0;
            left: 100%;
            right: 0;
            margin: 0;
            z-index: 99999;
            background: rgba(0,0,0,.5);
            overflow: scroll;
            .navIsOpen & {
                left: 0;
            }
        }
    }

}

body.navIsOpen {
    // position: fixed;
    overflow: hidden;
}

.header .nav .only-mobile {
    @media (min-width: $break) {
        display: none;
    }
}

#btn-nav-open,
#btn-nav-close {
    svg * {
        fill: #71AB5C;
    }
}