#topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 568px) {
        flex-direction: column;
    }
    @media (min-width: 569px) and (max-width: 1024px) {
        flex-direction: row;
    }
    @media (min-width: 1025px) {
        flex-direction: row;
    }
    padding: 0 1rem;
    a {
        display: block;
        padding: 1em;
        &:focus {
            background: red;
        }
    }
}


@import 'header';
@import 'sticky';


.navIsOpen {
    body & {
        overflow: hidden;
    }
}

@import 'footer';



.cl-audit {
    --background-pills: #263575;
    --border-pills: #263575;
    --color-pills: #FFF;
}
.cl-conseil {
    --background-pills: #258D96;
    --border-pills: #258D96;
    --color-pills: #FFF;
}
.cl-formation {
    --background-pills: #88BA5C;
    --border-pills: #88BA5C;
    --color-pills: #FFF;
}

@import 'cookie-banner';