:root {

    @media (max-width: 568px) {
        --BodyFontSize: 14px;
    }
    @media (min-width: 569px) and (max-width: 1024px) {
        --BodyFontSize: 16px;
    }
    @media (min-width: 1025px) {
        --BodyFontSize: 18px;
    }


    --BodyBackgroundColor: #fff;
    --BodyColor: #333;
    // @media (prefers-color-scheme: light) {
    //     --BodyBackgroundColor: #fff;
    //     --BodyColor: #333;
    // }
    // @media (prefers-color-scheme: dark) {
    //     --BodyBackgroundColor: #333;
    //     --BodyColor: #fff;
    // }
}
* {
    box-sizing: border-box;
}
html {
    font-size: var(--BodyFontSize);
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--BodyBackgroundColor);
    color: var(--BodyColor);
}
body[data-theme="light"] {
    color: var(--BodyBackgroundColor);
    background-color: var(--BodyColor);
}


body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100%;
}
img {
    max-width: 100%;
}
a {
    color: inherit;
}

// nav {
//     ul {
//         display: flex;
//         margin: 0;
//         padding-inline-start:0;
//         @media (max-width: 568px) {
//             flex-direction: column;
//         }
//         @media (min-width: 569px) and (max-width: 1024px) {
//             flex-direction: row;
//         }
//         @media (min-width: 1025px) {
//             flex-direction: row;
//         }
//     } 
//     li {
//         list-style: none;
//     }
//     a {
//         display: block;
//         padding: 1em;
//         &:focus {
//             background: red;
//         }
//     }
// }

body {
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.5;
}
h1, h2, h3, h4, h5 {
    margin: 0;
}
.debug {background: rgba(255, 0, 0,25%);}
section, div {
    &.text {
        padding: 0 1rem;
        max-width: 38rem;
        margin: auto;
        p {margin-bottom: 1.15rem;}
        p.bold {
            font-weight: bold;
        }
        p.big {
            font-size: 1.2em;
        }
        h1, h2, h3, h4, h5 {
            margin: 2.75rem 0 1.05rem;
            font-weight: 400;
            line-height: 1.15;
        }
        h1 {font-size: 3.052em;}
        
        h2 {font-size: 2.441em;}
        
        h3 {font-size: 1.953em;}
        
        h4 {font-size: 1.563em;}
        
        h5 {font-size: 1.25em;}
        
        small, .small {font-size: 0.8em;}
    }
} 

// .ctn {
//     padding: 0 1rem;
//     width: 100%;
//     max-width: 58rem;
//     margin: auto;
// }


#gotocontent {
    border: 2px solid rgba(0,0,0,.16);
    border-radius: 2px;
    color: #2228af;
    cursor: pointer;
    text-decoration: underline;
    text-align: center;
    position: absolute;
    background: #fff;
   &:not(:focus) {
    clip: rect(1px,1px,1px,1px);
    overflow: hidden;
    padding: 0;
   }
}



#topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 568px) {
        flex-direction: column;
    }
    @media (min-width: 569px) and (max-width: 1024px) {
        flex-direction: row;
    }
    @media (min-width: 1025px) {
        flex-direction: row;
    }
    padding: 0 1rem;
    a {
        display: block;
        padding: 1em;
        &:focus {
            background: red;
        }
    }
}


// header {
//     padding: 2rem 1rem;
//     text-align: center;
//     background-color: var(--BodyColor);
//     color:  var(--BodyBackgroundColor);
// }





// .grid {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     column-gap: 1rem;

//     max-width: 40rem;
//     padding: 0 1rem;
//     margin: 0 auto;
// }
// .grid-article {
//     max-width: 40rem;
//     margin: 0 auto;
//     padding: 0 1rem;
//     article {
//         display: grid;
//         grid-template-columns: 1fr 1fr;
//         column-gap: 1rem;
//     }
// }






// icon[name="mail"] {
//     display: block;
//     background: red;
//     width: 1rem;
//     height: 1rem;
// }

// section.image {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     img {
//         width: 100%;
//     }
// }


.wrapper {
    --wrapper-size: 80rem;
    max-width: var(--wrapper-size);
    margin: 0 auto;
    // padding: 1rem;
}
.ctn {
//    display: grid;
//    grid-template-rows: var(--rows);
//    grid-template-columns: var(--columns);
//    gap: var(--gap);
}
// .ctn {
//     --column: 2;
//     display: flex;
//     flex-flow: var(--direction)  var(--wrap);
//     justify-content: var(--justify);
//     align-items: var(--align);
// }





@mixin btn-reset() {
    display: flex;
    appearance: none;
    border: none;
    background: transparent;
    padding: 0;
}


@import 'header';


.navIsOpen {
    body & {
        overflow: hidden;
    }
}

@import 'footer';



.cl-audit {
    --background-pills: yellow;
}
.cl-conseil {
    --background-pills: purple;
}
.cl-formation {
    --background-pills: blue;
}





.page-index {

    header {
        background: #000;
        padding: 1rem;
    }
}