.p-contact {
    //padding: 0 1rem;
    .p-contact-wrapper {
        h2 {
            text-align: left;
            font-size: 1.5rem;
        }
        .form {
            margin: auto;
        }
        .col:first-child{
            padding-right: 0rem;
        }
        .col-info {
            max-width: 100%;
            .logo {
                max-width: 10rem;
                width: 100%;
                display: block;
                margin: 1rem auto 2rem;
            }
        }
        .visuel {
            text-align: center;
        }

        @media (min-width: 810px) {
            display: flex;
            justify-content: space-evenly;
            .col {
                flex: 1;
            }
            .col:first-child{
                padding-right: 2rem;
            }
            .col-info {
                width: 30rem;
            }
        }
        iframe {
            display: block;
            max-width: 100%;
            width: 100%;
            max-height: 30rem;
        }
        .google-maps {
            position: relative;
            padding-bottom: 75%; // This is the aspect ratio
            height: 0;
            overflow: hidden;
        }
        .google-maps iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
        }
        ul {
            list-style: none;
            margin: 1rem 0 0;
            padding: 0;
            li {
                &:not(:last-child) {
                    margin-bottom: 1rem;
                }
            }
            img {
                margin-right: 1rem;
                max-width: 3rem;
            }
            .wrap_link {
                display: flex;
                align-items: center;
                font-size: 1.25rem;
                text-decoration: none;
                text-transform: uppercase;
            }
            @media (max-width: 424px) {
                img {
                    max-width: 2.5rem;
                }
                .wrap_link {
                    font-size: 1rem;
                }
            }
        }

        .wpcf7 form .wpcf7-response-output {
            border-top: 1px solid #00a0d2;/* Blue */
            border-bottom: 1px solid #00a0d2;/* Blue */
            border-left: 0;
            border-right: 0;
            font-size: 1.5rem;
            padding: 3rem 0;
            margin: 3rem 0;
        }

        .wpcf7 form.init .wpcf7-response-output {
            display: none;
        }

        .wpcf7 form.sent > p{
            display: none;
        }
        .wpcf7 form.sent .wpcf7-response-output {
            /*border-color: #88BA5C; !* Green *!*/
            border-top: 1px solid #88BA5C;
            border-bottom: 1px solid #88BA5C;
        }

        .wpcf7 form.failed .wpcf7-response-output,
        .wpcf7 form.aborted .wpcf7-response-output {
            border-top: 1px solid #dc3232;/* Red */
            border-bottom: 1px solid #dc3232;/* Red */

        }

        .wpcf7 form.spam .wpcf7-response-output {
            border-top: 1px solid #f56e28;/* Orange */
            border-bottom: 1px solid #f56e28;/* Orange */

        }

        .wpcf7 form.invalid .wpcf7-response-output,
        .wpcf7 form.unaccepted .wpcf7-response-output {
            border-top: 1px solid #ffb900;/* Yellow */
            border-bottom: 1px solid #ffb900;/* Yellow */

        }
    }


}