@import '_atoms.scss';

.nav-link {
    display: none;
}
@media (min-width: 960px) {
    .nav-link {
        display: block;
        position: fixed;
        left: 0;
        top: 35%;
        z-index: 999;
        ul {
            padding: 0;
            margin: 0;
        }
        li {
            list-style: none;
        }
        a {
            text-decoration: none;
            display: flex;
            &:hover {
                .label {
                    display: flex;
                }
            }
        }
        .icon {
            width: 4rem;
            height: 4rem;
            display: flex;
            align-items: center;
            padding: 1rem;
            position: relative;
            svg {
                width: 100%;
                height: auto;
            }
        }
        .label {
            text-transform: uppercase;
            padding: 0 1rem;
            display: none;
            align-items: center;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                left: 0;
                display: block;
                height : 0;
                width : 0;
                border-top : 8px solid transparent;
                border-bottom : 8px solid transparent;
                border-left : 8px solid transparent;
            }
            span {
                position: relative;
                top: 4px;
            }
        }
        li:first-child {
            .icon {
                background: #71AB5C;
            }
            .label {
                color: #FFF;
                background: #C0D57B;
                &:before {
                    border-left : 8px solid #71AB5C;
                }
            }
        }
        li:last-child {
            .icon {
                background: #1C8D96;
            }
            .label {
                color: #FFF;
                background: #C0D57B;
                &:before {
                    border-left : 8px solid #1C8D96;
                }
            }
        }

    }
}