// .section {
//     .wrapper {
//         --wrapper-size: 40rem;
//     }
//     .ctn {
//         --columns: 1fr 1fr;
//         --gap: 1rem;
//     }
// }

#info {
    .wrapper {
        --wrapper-size: 40rem;
    }
    .ctn {
        --columns: 1fr 1fr;
        --gap: 1rem;
    }
}