<section id="{{sectionFields.id}}" class="section">
    {% if is_preview %}
        <p>I will only appear in the section editor.</p>
    {% endif %}
    {{ block.align }}
    <div class="wrapper wrapper-{{ block.align }}">
        <InnerBlocks />
        <h{{sectionFields.titre.type}}>{{ sectionFields.titre.text }}</h{{sectionFields.titre.type}}>
        <div class="ctn {{sectionFields.page_components}}">
            {{ dump(sectionFields)  }}
            {% for media_item in sectionFields.page_components %}
                <div>
                    {% if media_item.acf_fc_layout == 'image' %}
                        {{ media_item.description }}
                    {% endif %}
                    {% if media_item.acf_fc_layout == 'text' %}
                        {{ media_item.text }}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
     </div>


</section>