.b-header {
    color: #FFF;
    background: rgb(104, 104, 104)!important;
    background-position: center!important;
    position: relative;
    img {
        width: 100%;
        display: block;
        margin: 0 auto;
    }
    .wrapper {
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        img {
            display: block;
            height: 100%;
            max-width: none;
        }
    }
    
}

#type_1 {
    color: #FFF;
    display: flex;
    align-items: center;
    text-align: center;
    background-size: cover;
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .bg {
        width: 100%;
    }
    h1 {
        margin: 0;
        font-size: 3rem;
    }
    p {
        font-size: 1rem;
        margin: 0;
        text-transform: uppercase;
    }
}

#type_2 {
    .wrapper {
        // position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        text-align: left;
        padding:1rem;
    }
    .grid {
        max-width: 30rem;
    }
    h1 {
        text-transform: none;
        font-size: 3rem;
        line-height: 1;
        text-align: left;
    }
    p {
        font-size: 1.5rem;
        text-transform: none;
        color:#212121;
        font-weight: 400;
    }
    @media (max-width: 1280px) {
        .grid {
            max-width: 40%;
        }
        h1 {
            font-size: 2.5rem;
            margin-bottom: 0;
        }
        p {
            font-size: 1rem;
            margin: 0;
        }
    }
    @media (max-width: 780px) {
        h1 {
            font-size: 1.8rem;
            margin: 0;
            line-height: 1;
        }
        p {
            display: none;
        }   
    }
    @media (max-width: 480px) {
        .grid {
            max-width: 100%;
        }
        .wrapper {
            flex-direction: column;
        }
    }
    @media (max-width: 375px) {
        h1 {
            font-size: 1.5rem;
        }
    }
}

#type_3 {
    // padding: 2rem 0 1rem;
    background-position: center;
    .wrapper {
        // position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: row;
        text-align: center;
    }
    .grid {
        max-width: 30rem;
        position: relative;
        right: 10%;
    }
    h1 {
        text-transform: none;
        font-size: 2rem;
        line-height: 1;
        font-weight: bold;
    }
    p {
        text-align: center;

        font-size: 1rem;
        margin-bottom: 1rem;
        text-transform: none;
    }
    
    @media (max-width: 780px) {
        // min-height: auto;
        // height: 260px;
        // background-position: -260px;
        .grid {
            max-width: 60%;
        }
        h1 {
            font-size: 1.5rem;
        }
        p {
            display: none;
        }   
    }
}