<div class="b-header" id="{{header.header_type}}">

    <div class="wrapper">
        <div class="grid" 
            {% if header.header_type == 'type_1' %}
                data-aos="fade-up"
            {% endif %}
            {% if header.header_type == 'type_2' %}
                data-aos="fade-right"
            {% endif %}
        >
            <h1
                {% if header.header_type == 'type_3' %}
                    data-aos="fade-left"
                {% endif %}
            >
                {{ header.title }}
            </h1>
            <div 
                {% if header.header_type == 'type_3' %}
                    data-aos="fade-up"
                    data-aos-delay="500"
                {% endif %}
            >
                {{ header.text }}
            </div>
        </div>
    </div>

    <div class="bg">
        {% if header.header_type == 'type_2' %}
            <picture>
                <source srcset="{{Image(header.asset_mobile).src}}" media="(max-width: 480px)">
                <img srcset="{{Image(header.asset).src}}">
            </picture>
        {% else %}
            <picture>
                <source srcset="{{Image(header.asset_mobile).src}}" media="(max-width: 960px)">
                <img srcset="{{Image(header.asset).src}}">
            </picture>
        {% endif %}
    </div>


</div>
<a href="#content" id="gocontent">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="81" height="81" viewBox="0 0 81 81"><defs><clipPath id="a"><rect width="81" height="81" fill="none"/></clipPath></defs><g clip-path="url(#a)"><g transform="translate(-920 -871)"><circle cx="40.5" cy="40.5" r="40.5" transform="translate(920 871)" fill="#88ba5c" opacity="0.58"/><g transform="translate(155 -287.504)"><line x2="26.504" y2="26.504" transform="translate(778.5 1185.5)" fill="none" stroke="#fff" stroke-width="3"/><line x1="26.504" y2="26.504" transform="translate(805.004 1185.5)" fill="none" stroke="#fff" stroke-width="3"/></g></g></g></svg>
</a>