<div class="block-col-icon">
    <div class="wrapper">
        {% for item in colIconFields.list_icon %}
        <div class="col"
            data-aos="fade-up"
            data-aos-duration="500"
            {% if loop.index == '2' %} data-aos-delay="250" {% endif %}
            {% if loop.index == '3' %} data-aos-delay="500" {% endif %}
        >
                <div class="icon">
                    <img src="{{ Image(item.img).src }}" />
                </div>
                <div class="ctn-txt">
                    <div class="title">
                        {{ item.name }}
                    </div>
                    <div class="text">
                        {{ item.text }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

