$break:1080px;
.page-template-default {
    .block-col-icon {
        .title {
            font-weight: bold;
            color:#258D96;
        }
        .text {
            text-transform: uppercase;
        }
        img {
            display: block;
            width: auto;
            height: 100%;
        }
    }
}
.block-col-icon {
    .wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .col {
        max-width: 20rem;
        margin: 0 2rem;
        text-align: center;
        @media (max-width: $break - 1) {
            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }
        @media (min-width: $break) {
            margin: 0 4rem 0;
        }
    }
    .icon {
        margin: auto auto 1rem;
        width: 10rem;
        height: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            display: block;
        }
        @media (max-width: $break - 1) {
            width: 6rem;
            height: 6rem;
            margin: auto auto auto;
        }
    }
    .title {
        font-size: 1.5rem;
        line-height: 1;
        margin: 2rem auto .5rem;
        text-transform: uppercase;
        @media (max-width: $break - 1) {
            margin: .5rem auto .5rem;
        }
    }
    .text {
        font-size: 18px;
    }
    
}