<div class="block-slider">
    {% if is_preview %}
        <p>I will only appear in the slider editor.</p>
    {% endif %}

    <div class="wrapper">
        {% for item in historyFields.list_history %}
            <div class="title">
                {{ item.title }}
            </div>
            <div class="text">
                {{ item.text }}
            </div>
        {% endfor %}
    </div>
</div>

