<div class="block-grid-masonry">
    <div class="wrapper">
        {% for item in gridMasonryFields.grid_masonry %}
            {% set delay = gridMasonryFields.animations.animation_delay * (loop.index / 2) %}

            <div class="img"
                data-aos="fade-down"
                data-aos-duration="{{ gridMasonryFields.animations.animation_duration }}"
                data-aos-delay="{{ delay }}"
            >
                <img src="{{ Image(item.img).src }}" />
            </div>

            <div class="txt"
                data-aos="fade-up"
                data-aos-duration="{{ gridMasonryFields.animations.animation_duration }}"
                data-aos-delay="{{ delay }}"
            >
                <div class="icon">
                    <img src="{{ Image(item.icon).src }}" />
                </div>
                <div class="title">
                    {{ item.title }}
                </div>
            </div>
        {% endfor %}
        <div class="img img-last"
            data-aos="fade-up"
            data-aos-duration="{{ gridMasonryFields.animations.animation_duration }}"
            data-aos-delay="{{ gridMasonryFields.animations.animation_delay * 3 }}"
        >
            <img src="{{ Image(logo).src }}" />
        </div>
    </div>
</div>

