@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
// @import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

$break: 810px;
$break-txt: 640px;

.block-grid-masonry {
    .wrapper {
        padding: 0 1rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        @media (min-width: $break) {
            grid-template-columns: repeat(5, 1fr);
        }
    }
    .img{
        img {
            display: block;
        }
    }
    .txt {
        
        .icon {
            @media (max-width: $break - 1) {
                max-width: 2rem;
            }
        }
        
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (max-width: $break-txt - 1) {
            font-size: .75rem;
        }
    }

    .img-last {
        padding: 2rem;
        display: none;
        @media (min-width: $break) {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #EEE;
        }
    }
}