@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

#slider-client-avis {
    max-width: 60rem;
    margin: 0 auto;
    .wrapper {
        max-width: none;
    }
}
.avis {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .avis-client {
        margin-right: 2rem;
        .img {
            width: 8rem;
            height: 8rem;
            overflow: hidden;
            border-radius: 100%;
            margin-bottom: 1rem;
            img {
                width: 100%;
            }

        }
        .info {
            margin: .5rem 0 1rem;
            line-height: 1.2;
            font-weight: bold;
        }
        .logo {
            margin: 0 auto;
            max-width: 5rem;
            img {
                width: 100%;
            }

        }
        display: flex;
        flex-direction: column;
    }
    .avis-text {
        max-width: 40rem;
        font-size: 1.25rem;
        .before,
        .after {
            height: 4rem;
            width: 4rem;
            margin: .5rem 0;
            svg {
                width: 100%;
                height: 100%;
                fill: #258d96;
            }
        }
        .after {
            margin-left: auto;
        }
    }
    @media screen and (max-width: 979px) {
        flex-direction: column;
        .avis-client {
            flex-direction: row;
            align-items: center;
            margin-right: 0;
            .logo {
                margin: 0 0 0 2rem;
            }
        }
        .avis-text {
            max-width: 80%;
            .before,
            .after {
                height: 3rem;
                width: 3rem;
            }
        }
    }
    @media screen and (max-width: 600px) {
        .avis-text {
            max-width: 70%;
            font-size: 1rem;
            .before,
            .after {
                height: 2rem;
                width: 2rem;
            }
        }
    }
}
