{% set nbSlides = Post(slider_client_avis)|length %}
{% if nbSlides > 0 %}
<div id="slider-client-avis" class="slider-client-avis {% if nbSlides > 1 %}glide{% endif %}">
    <div class="wrapper glide__track" data-glide-el="track">

        <div class="grid glide__slides">

            {% for post in Post(slider_client_avis) %}
                <div class="glide__slide">
                    <div class="avis">
                        <div class="avis-client">
                            <div class="client">
                                <div class="img">
                                    <img src="{{ Image(post.client_img).src }}" />
                                </div>
                                <div class="info">
                                    <div class="name">{{post.client_name}}</div>
                                    <div class="fn">{{post.client_function}}</div>
                                </div>
                            </div>
                            <div class="logo">
                                <img src="{{ Image(post.client_logo).src }}" />
                            </div>
                        </div>
                        <div class="avis-text">
                            <div class="before">
                                <svg xmlns="http://www.w3.org/2000/svg" width="90.723" height="67.188" viewBox="0 0 90.723 67.188">
                                    <path id="Tracé_15210" data-name="Tracé 15210" d="M6.445-94.824q0-10.352,7.178-22.021t25.928-21.338l2.344,4.395a112.235,112.235,0,0,0-13.867,11.133q-7.91,8.105-7.91,15.527,0,2.539,1.465,3.32a5.15,5.15,0,0,0,2.539.879A48.106,48.106,0,0,1,29-103.418a13.055,13.055,0,0,1,10.254,4.541,16.036,16.036,0,0,1,4,10.986A17.255,17.255,0,0,1,38.867-75.83Q34.473-71,26.758-71a18.5,18.5,0,0,1-14.7-6.494Q6.445-83.984,6.445-94.824Zm53.906,0q0-10.937,7.617-22.559t25.488-20.8l2.344,4.395a103.345,103.345,0,0,0-13.477,10.84q-8.3,8.3-8.3,15.43A4.965,4.965,0,0,0,75.1-104.2a3.636,3.636,0,0,0,2.93,1.27,48.106,48.106,0,0,1,4.883-.488,13.159,13.159,0,0,1,10.205,4.492,15.874,15.874,0,0,1,4.053,11.035q0,7.617-4.492,12.256T80.469-71A18.324,18.324,0,0,1,66.016-77.49Q60.352-83.984,60.352-94.824Z" transform="translate(-6.445 138.184)"/>
                                </svg>
                            </div>
                            {{post.client_avis}}
                            <div class="after">
                                <svg xmlns="http://www.w3.org/2000/svg" width="90.332" height="67.188" viewBox="0 0 90.332 67.188">
                                    <path id="Tracé_15211" data-name="Tracé 15211" d="M60.84-75.391A107.921,107.921,0,0,0,74.8-86.719q7.813-8.008,7.813-15.039a4.238,4.238,0,0,0-1.27-3.418,4.157,4.157,0,0,0-2.734-1.074,38.48,38.48,0,0,1-4.395.488,14.134,14.134,0,0,1-10.547-4.3,15.383,15.383,0,0,1-4.2-11.23q0-7.813,4.59-12.354t12.012-4.541a18.831,18.831,0,0,1,14.453,6.25q5.762,6.25,5.762,17.285,0,15.625-12.793,28.809Q75.879-78.125,63.184-71Zm-53.516,0A102.877,102.877,0,0,0,20.9-86.23q8.2-8.2,8.2-15.43a5.563,5.563,0,0,0-.977-3.32,3.748,3.748,0,0,0-3.027-1.27,36.11,36.11,0,0,1-4.3.488,14.252,14.252,0,0,1-10.645-4.3q-4.2-4.3-4.2-11.523A17.357,17.357,0,0,1,10.205-133.2q4.248-4.98,12.451-4.98a19.6,19.6,0,0,1,14.063,5.859q6.055,5.859,6.055,17.383,0,15.625-12.207,28.516Q22.949-78.418,9.668-71Z" transform="translate(-5.957 138.184)"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if nbSlides > 1 %}
        <div data-glide-el="controls" class="controls">
            <button class="prev" data-glide-dir="&lt;"><svg xmlns="http://www.w3.org/2000/svg" width="37.987" height="132.5" viewBox="0 0 37.987 132.5">
                    <path id="Tracé_12785" data-name="Tracé 12785" d="M0,0,65.227,34.452,128.439,0" transform="translate(35.952 2.027) rotate(90)" fill="none" stroke="#258d96" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                </svg>
            </button>
            <button class="next" data-glide-dir="&gt;"><svg xmlns="http://www.w3.org/2000/svg" width="37.987" height="132.5" viewBox="0 0 37.987 132.5">
                    <path id="Tracé_12786" data-name="Tracé 12786" d="M0,0,65.227,34.452,128.439,0" transform="translate(2.035 130.474) rotate(-90)" fill="none" stroke="#258d96" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                </svg>
            </button>
        </div>
        {% endif %}
    </div>
</div>
{% endif %}