.block-form {
    margin-top: 1rem;
    
    .wrapper {
        background-size: cover;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 2rem 2rem;
        @media (max-width: 960px - 1px) {
            padding: 0 2rem;
        }
    }
    
    .logo {
        max-width: 20rem;
    }
    p {
        margin-bottom: .5rem;
    }
    .btn-page-form {
        display: inline-block;
        color: #fff;
        background: #263575;
        width: auto;
        text-transform: uppercase;
        text-align: center;
        margin: auto;
        padding: 1rem 2rem;
        border-radius: 2rem;
        text-decoration: none;
    }

    @media (max-width: 960px - 1px) {
        .wrapper {
            background-image: none!important;
        }
        .only-desktop {
            display: none;
        }
    }
    @media (min-width: 960px) {
        .only-mobile {
            display: none;
        }
    }
}


.form {
    margin: 0 0 0 auto;
    flex: 1;
    max-width: 40rem;
    form, label, input, textarea {
        width: 100%;
        font: inherit;
        p {
            text-align: center;
        }
    }
    br {
        display: none;
    }
    input, textarea {
        border: solid 2px #263575;
        padding: 1rem 1rem;
        border-radius: 28px;
        margin-bottom: 1rem;
        font-size: 14px;
        &:focus {
            outline: none;
            box-shadow: 0px 0px 2px #0066ff;
        }
    }
    label {
        font-size: 14px;
    }
    span {
        font-size: 16px;
    }
    textarea {
        appearance: none;
        margin-bottom: 0;
    }
    input[type="submit"] {
        display: inline-block;
        color: #fff;
        background: #263575;
        width: auto;
        text-transform: uppercase;
        text-align: center;
        margin: auto;
        padding: 1rem 2rem;
    } 
    span.wpcf7-list-item {
        text-align: left;
        margin: 0 0 1rem;
        label {
        display: flex;
        }
        input { width: auto; margin-right: .5rem; }
    }

    .wpcf7-not-valid-tip {
        position: relative;
        top: -.5rem;
        margin-left: 1rem;
        text-align: left;
    }
    .wpcf7-not-valid {
        border-color: #dc3232;
    }
}

.wpcf7 form .wpcf7-response-output {
    border-top: 1px solid #00a0d2;/* Blue */
    border-bottom: 1px solid #00a0d2;/* Blue */
    border-left: 0;
    border-right: 0;
    font-size: 1.5rem;
    padding: 3rem 0;
    margin: 10rem 0;
}

.wpcf7 form.init .wpcf7-response-output {
    display: none;
}

.wpcf7 form.sent > p{
    display: none;
}
.wpcf7 form.sent .wpcf7-response-output {
    /*border-color: #88BA5C; !* Green *!*/
    border-top: 1px solid #88BA5C;
    border-bottom: 1px solid #88BA5C;
}

.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output {
    border-top: 1px solid #dc3232;/* Red */
    border-bottom: 1px solid #dc3232;/* Red */

}

.wpcf7 form.spam .wpcf7-response-output {
    border-top: 1px solid #f56e28;/* Orange */
    border-bottom: 1px solid #f56e28;/* Orange */

}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output {
    border-top: 1px solid #ffb900;/* Yellow */
    border-bottom: 1px solid #ffb900;/* Yellow */

}