<div class="block-form">
    <div class="wrapper" style="background-image: url('{{ Image(fromFields.img).src }}');">
        {% if fromFields.mobile_link %}
        <a data-aos="fade-up" class="only-mobile btn-page-form" target="{{ fromFields.mobile_link['target'] }}" href="{{ fromFields.mobile_link['url'] }}">{{ fromFields.mobile_link['title'] }}</a>
        {% endif %}
        <div class="form only-desktop"
            data-aos="fade-left"
        >
            {% filter shortcodes %}
                {{fromFields.code_form}}
            {% endfilter %}
        </div>
    </div>
</div>

