<header class="block-header-small" style="background-image:url({{ Image(headerSmallFields.img).src }})">
    <div class="wrapper">
        {% if headerSmallFields.color_title %}
        <style>
            .block-header-small {
                --color-title: {{ headerSmallFields.color_title }}
            }
        </style>
        {% endif %}
        <h1 class="align-{{ headerSmallFields.align_title }}">{{ headerSmallFields.title }}</h1>
    </div>
</header>

