.block-header-small {
  height: 16rem;
  background-size: cover;
  background-position: right top;
  margin-bottom: 2rem;
  max-width: 100%;
  padding: 0;
  position: relative;
  --color-title: #273575;
  min-height: 6rem;
  //@media (max-width: 767px) {
  //  background-position-x: calc(100% + 380px);
  //}
  @media (max-width: 1279px) {
    height: 0;
    padding-top: #{256 / 1280 * 100%};
  }
  .wrapper {
    position: relative;
    height: 100%;
    @media (max-width: 1279px) {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    h1 {
      text-transform: none;
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
      top: 40%;
      font-size: 3rem;
      letter-spacing: 2px;
      font-weight: 100;
      color: var(--color-title);
      margin: 0;
      &.align-left {
        right: 50%;
        //@media (max-width: 1280px) {
        //  right: 0;
        //}
      }
      &.align-right {
        left: 50%;
        //@media (max-width: 1280px) {
        //  left: 0;
        //}
      }
      @media (max-width: 1279px) {
        font-size: 2.5rem;
        line-height: 1;
      }
      @media (max-width: 767px) {
        font-size: 1.8rem;
        top: 35%;
      }
      @media (max-width: 425px) {
        font-size: 1.6rem;
        top: 25%;
      }
    }
  }

}