{% extends '_base.twig' %}

{% block main %}
    <div class="p-not-found">
        <header class="not-found">
            <div class="wrapper">
                <h1>
                    Oops !
                </h1>
            </div>
            <img src="{{ site.url }}/wp-content/uploads/2020/09/Rectangle-40@2x.png" alt="">
        </header>

        <main>
            <div class="wrapper">
                <div>
                    <h2>La page que vous recherchez semble introuvable !</h2>
                    <p>
                        On s'excuse de la gêne occasionnée et on vous invite
                        à revenir sur notre page d'accueil.
                    </p>
                </div>
                <div class="link" >
                    <a href="{{ site.url }}">
                        Page d'accueil
                    </a>
                </div>
            </div>

        </main>
    </div>
{% endblock %}
