<!doctype html>
<html {{ site.language_attibute}}>
<head>
	<meta charset="{{ site.charset }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@100;300;400;700&display=swap" rel="stylesheet">

	{{ function('wp_head')}}
    {% block css '' %}
</head>

<body class="{{ body_class }}">

    {% block header '' %}

    {% include './layouts/nav-header.twig' %}

    {% include './layouts/nav-sticky.twig' %}

    {% block main '' %}

    {% include './layouts/footer.twig' %}

    {% block footer '' %}

	{{ function('wp_footer')}}

    {% block js '' %}


    <script>
        const titles = document.querySelectorAll('h2');
        titles.forEach((title) => {
        title.setAttribute('data-aos', 'fade-up')
        })
        
    </script>
</body>
</html>
    