{% extends './_base.twig' %}



{% block main %}

    
    <header>
        <h1>
            Hello world
        </h1>
    </header>

    <section class="text">
        <h1>A Visual Type Scale</h1>
        <p>What looked like a small patch of purple grass, above five feet square, was moving across the sand in their direction.</p>
        <p>When it came near enough he perceived that it was not grass; there were no blades, but only purple roots. The roots were revolving, for each small plant in the whole patch, like the spokes of a rimless wheel.</p>
        <a href="#">Go to page</a>

        <h2>A Visual Type Scale</h2>
        <p><strong>What looked like a small patch of purple grass</strong>, above five feet square, was moving across the sand in their direction.</p>
        <p><i>When it came near enough he perceived that it was not grass; there were no blades, but only purple roots. The roots were revolving, for each small plant in the whole patch, like the spokes of a rimless wheel.</i></p>
        <p class="small">— Excerpt from A Voyage to Arcturus, by David</p>
        <p>When it came near enough he perceived that it was not grass; there were no blades, but only purple roots. The roots were revolving, for each small plant in the whole patch, like the spokes of a rimless wheel.</p>
        <p class="big"><strong>When it came near enough he perceived that it was not grass; there were no blades, but only purple roots. The roots were revolving, for each small plant in the whole patch, like the spokes of a rimless wheel.</p>
        <p>When it came near enough he perceived that it was not grass; there were no blades, but only purple roots. The roots were revolving, for each small plant in the whole patch, like the spokes of a rimless wheel.</strong></p>
        <h3>A Visual Type Scale</h3>
        <p><strong>What looked like a small patch of purple grass, above five feet square, was moving across the sand in their direction.</strong></p>
        <p class="small">— Excerpt from A Voyage to Arcturus, by David</p>
        <p>When it came near enough he perceived that it was not grass; there were no blades, but only purple roots. The roots were revolving, for each small plant in the whole patch, like the spokes of a rimless wheel.</p>
        <h4>A Visual Type Scale</h4>
        <p>What looked like a small patch of purple grass, above five feet square, was moving across the sand in their direction.</p>
        <p class="big">When it came near enough he perceived that it was not grass; there were no blades, but only purple roots. The roots were revolving, for each small plant in the whole patch, like the spokes of a rimless wheel.</p>
        <p>When it came near enough he perceived that it was not grass; there were no blades, but only purple roots. The roots were revolving, for each small plant in the whole patch, like the spokes of a rimless wheel.</p>
    </section>

    

   

    <section class="image">
        <div class="ctn">
            <img src="https://picsum.photos/seed/picsum/960/540" alt="">
            <div class="text">
                <p class="small">— Excerpt from A Voyage to Arcturus, by David</p>
            </div>      
        </div>
        <div class="text">
            <h4>A Visual Type Scale</h4>
            <p>What looked like a small patch of purple grass, above five feet square, was moving across the sand in their direction.</p>
            <p class="big">When it came near enough he perceived that it was not grass; there were no blades, but only purple roots. The roots were revolving, for each small plant in the whole patch, like the spokes of a rimless wheel.</p>
            <p>When it came near enough he perceived that it was not grass; there were no blades, but only purple roots. The roots were revolving, for each small plant in the whole patch, like the spokes of a rimless wheel.</p>
            <p><i>When it came near enough he perceived that it was not grass; there were no blades, but only purple roots. The roots were revolving, for each small plant in the whole patch, like the spokes of a rimless wheel.</i></p>
        </div>
    </section>

    <section class="grid">
        <article>
            <img src="" alt="">
            <div class="text">
                <h3>Lorem impsum</h3>
                <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. At voluptatum quasi fugit cum sunt, necessitatibus architecto, reiciendis, possimus fugiat sit corporis similique dolorem porro enim sint ratione adipisci in cupiditate.</p>
            </div>
        </article>
        <article>
            <img src="" alt="">
            <div class="text">
                <h3>Lorem impsum</h3>
                <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. At voluptatum quasi fugit cum sunt, necessitatibus architecto, reiciendis, possimus fugiat sit corporis similique dolorem porro enim sint ratione adipisci in cupiditate.</p>
            </div>
        </article>
    </section>
    <section class="grid-article">
        <article>
            <img src="https://picsum.photos/seed/picsum/720/540" alt="">
            <div class="text">
                <h3>Lorem ipsum</h3>
                <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. At voluptatum quasi fugit cum sunt, necessitatibus architecto, reiciendis, possimus fugiat sit corporis similique dolorem porro enim sint ratione adipisci in cupiditate.</p>
            </div>
        </article>
    </section>

    <section class="form">
        <form action="#">
            <div>
                <label for="email">
                    <icon name="mail"></icon>
                    E-mail
                </label>
                <input type="text" name="email" id="email">
            </div>
            <button type="submit">Envoyer</button>
        </form>
    </section>

     <section class="button">
        <a href="#">Lien vers une page</a>
        <button>
            Boutton pour une action
        </button>
    </section>

{% endblock %}