{% extends '_base.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{ site.url }}/wp-content/assets/p-contact.css" type="text/css" media="all">
    {#<link rel="stylesheet" href="{{ site.url }}:5000/p-contact.css" type="text/css" media="all">#}
{% endblock %}
{% block main %}
    <main class="p-contact">
        {{ post.content }}
        <div class="p-contact-wrapper">
            <div class="col">
                <h2>
                    {{ post.page_title}}
                </h2>
                {% filter shortcodes %}
                    <div class="form">
                        {{ post.code_form }}
                    </div>
                {% endfilter %}
            </div>

            <div class="col col-info">

                <img class="logo" src="{{ Image(logo).src }}" />
                <div class="visuel">
                    <img src="{{ Image(post.visuel).src }}" />
                </div>
                {#<div class="google-maps">
                    <iframe src="https://www.google.com/maps/embed?{{ post.map }}" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>#}

                <ul>
                    {% for info in post.meta('info_list') %}
                        <li>
                            {% if info.link.url %}
                                <a href="{{ info.link.url }}" class="wrap_link">
                                    <img src="{{ Image(info.icon).src }}" />
                                    {{info.info}}
                                </a>
                            {% else %}
                                <div class="wrap_link">
                                    <img src="{{ Image(info.icon).src }}" />
                                    {{info.info}}
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </main>
{% endblock %}
