{% extends '_base.twig' %}

{% block css %}
    <link rel="stylesheet" href="style.css">
{% endblock %}

{% block header %}
    <a href="#">Go to content</a>
{% endblock %}

{% block body %}
    
    {% include './layouts/body-head.twig' %}
    
    {% include './layouts/main/main-listing.twig' %}

    {% include './layouts/footer.twig' %}

{% endblock %}

{% block footer %}

    <a href="#">Back to top</a>

{% endblock %}
