{% set nbSlides = Post(list_equipe)|length %}
{% if nbSlides > 0 %}
    <div id="slider-list-equipe" class="list-equipe glide">
        <div class="wrapper glide__track" data-glide-el="track">
            <ul class="glide__slides">
                {% for post in Post(list_equipe) %}
                    {% set delay = 250 * (loop.index * 1) %}
                    <li class="glide__slide"
                        data-aos="fade-left"
                        data-aos-delay="{{ delay }}"
                    >
                        <div class="img">
                            <img src="{{ Image(post.asset).src }}" />
                        </div>
                        <div class="txt">
                            {{post.title}}
                            <br>
                            {{post.poste}}
                        </div>
                        <div class="link-linkedin">
                            {% if post.linkedin%}
                                <a href="{{post.linkedin}}" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40.998" height="40.511" viewBox="0 0 40.998 40.511">
                                        <path id="linkdin" d="M5.988,5.959A19.827,19.827,0,0,1,20.513,0a19.732,19.732,0,0,1,14.5,5.959A19.391,19.391,0,0,1,41,20.255a19.391,19.391,0,0,1-5.988,14.3,19.855,19.855,0,0,1-14.5,5.959A19.95,19.95,0,0,1,5.988,34.552,19.391,19.391,0,0,1,0,20.255,19.391,19.391,0,0,1,5.988,5.959ZM9.254,9.111v.057q.029,2.922,2.664,2.922h.63a2.633,2.633,0,0,0,2.607-2.521v-.4a2.922,2.922,0,0,0-.917-2.206,2.693,2.693,0,0,0-1.948-.774H11.8A2.683,2.683,0,0,0,9.254,9.111ZM14.726,14.3h-.372l-4.67-.086c-.029,0-.029.029-.029.115v16.13h5.014q.086-3.066.086-8.079Zm17.39,1.232a5.407,5.407,0,0,0-4.326-1.69h-.573a5.7,5.7,0,0,0-4.527,2.636V14.268l-4.527.057h-.315V30.483h.372l4.67.086a21.9,21.9,0,0,0,.086-2.206q0-.945-.029-2.206t-.029-2.693q0-1.146.029-1.8a5.042,5.042,0,0,1,.43-1.948,2.443,2.443,0,0,1,2.206-1.547,3.839,3.839,0,0,1,1.576.4q1.375.63,1.375,6.589v5.329h5.128c0,.086,0,.143.029.143s.029-1.461.029-4.355V22.146q-.057-4.785-1.6-6.618Z" fill="#5789a8"/>
                                    </svg>
                                </a>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
                <li class="postuler"
                    data-aos="fade-left"
                    data-aos-delay="3000"
                >
                    <img src="{{ Image(postuler.asset).src }}" />
                    <div class="title">
                        {{postuler.title}}
                    </div>
                    <div class="txt">
                        {{postuler.text}}
                    </div>
                    <a href="{{postuler.url.url}}">
                        {{postuler.url.title}}
                    </a>
                </li>
            </ul>
            {% if nbSlides > 1 %}
                <div data-glide-el="controls" class="controls">
                    <button class="prev" data-glide-dir="&lt;"><svg xmlns="http://www.w3.org/2000/svg" width="37.987" height="132.5" viewBox="0 0 37.987 132.5">
                            <path id="Tracé_12785" data-name="Tracé 12785" d="M0,0,65.227,34.452,128.439,0" transform="translate(35.952 2.027) rotate(90)" fill="none" stroke="#258d96" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                        </svg>
                    </button>
                    <button class="next" data-glide-dir="&gt;"><svg xmlns="http://www.w3.org/2000/svg" width="37.987" height="132.5" viewBox="0 0 37.987 132.5">
                            <path id="Tracé_12786" data-name="Tracé 12786" d="M0,0,65.227,34.452,128.439,0" transform="translate(2.035 130.474) rotate(-90)" fill="none" stroke="#258d96" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                        </svg>
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}