.list-equipe {
    .wrapper {
        padding: 0;
    }
    @media (min-width: 810px) {
        .wrapper {
            display: flex;
            flex-wrap: wrap;
        }
    }
    @media (min-width: 810px) {
        .controls {
            display: none;
        }
    }
    ul {
        // flex: 1;
        list-style: none;
        margin: 0;
        padding: 0;
        @media (min-width: 810px) {
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
        }
    }
    li {
        @media (min-width: 810px) {
            max-width: calc(100% / 3);
            min-width: calc(100% / 3);
            border-right: solid 1px #707070;
            margin: 0 0 4rem !important;
            padding: 2rem 0;
            height: auto;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img {
        border-radius: 100%;
        overflow: hidden;
        width: 12rem;
        height: 12rem;
        margin-bottom: 1rem;
    }
    .txt {
        text-align: center;
        font-size: 1.25rem;
        color: #258D96;
    }
    a {
        margin-top: .5rem;
        text-decoration: none;
    }
    .link-linkedin {
        width: 2rem;
        height: 4rem;
        a {
            svg {
                width: 100%;
            }
        }
    }
    .postuler {
        // flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 2rem 1rem;
        @media (min-width: 810px) {
            max-width: calc(100% / 3);
        }
        @media (min-width: 1280px) {
            padding: 2rem 4rem;
        }
        .title {
            white-space: initial;
            @media (min-width: 810px) {
                font-size: 1.5rem;
            }
            @media (min-width: 1280px) {
                margin: .5rem 0 0;
            }
            font-weight: bold;
            color: #258D96
        }
        .txt {
            font-size: 1rem;
            white-space: initial;
            @media (min-width: 810px) {
                font-size: 1.25rem;
            }
            @media (min-width: 1280px) {
                margin: .5rem 0;
            }
            color: #2C3E7C;
        }
        a {
            display: inline-block;
            @media (min-width: 810px) {
                font-size: 1.25rem;
            }
            padding: .875rem 2rem;
            border-radius: 4rem;
            color: #fff;
            background: #88BA5C;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}