<nav class="nav-footer">
  <ul>
    {% for navFooter1Item in navFooter1.items %}
      <li>
        <a class="{{ navFooter1Item.classes|join(' ') }}"
          href="{{ navFooter1Item.link }}{{ navFooter1Item.meta('anchor') }}">
          {{ navFooter1Item.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
  <ul>
    {% for navFooter2Item in navFooter2.items %}
      <li>
        <a class="{{ navFooter2Item.classes|join(' ') }}"
          href="{{ navFooter2Item.link }}{{ navFooter2Item.meta('anchor') }}">
          {{ navFooter2Item.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
  <ul class="nav-contact">
    {% for navFooter1Item3 in navFooter3.items %}
        {% if navFooter1Item3.picto %}
            <style>
                #picto{{ loop.index }}:before {
                    background-image: url({{  Image(navFooter1Item3.picto).src }});
                }
            </style>

        {% endif %}
      <li id="picto{{ loop.index }}">
        <a class="{{ navFooter1Item3.classes|join(' ') }}"
          href="{{ navFooter1Item3.link }}{{ navFooter1Item3.meta('anchor') }}">
          {{ navFooter1Item3.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
