<div class="nav-link">
    <ul>
        {% for navStickyItem in navSticky.items %}
            <li>
                <a class="pill-xx {{ navStickyItem.classes|join(' ') }}" href="{{ navStickyItem.link }}{{ navStickyItem.meta('anchor') }}">
                    {% if 'picto-contact' in navStickyItem.classes %}
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="59.08" height="43.845" viewBox="0 0 59.08 43.845"><g transform="translate(29.54 21.923)"><g transform="translate(-27.412 -19.795)"><rect width="54.824" height="39.59" rx="7.589" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="4.255"/><path d="M12.5,11.722l24.079,19.5L63.459,10.8" transform="translate(-10.195 -9.098)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="0.943"/></g></g></svg>
                    </div>
                    {% endif %}
                    {% if 'picto-linkedin' in navStickyItem.classes %}
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="49.482" height="48.863" viewBox="0 0 49.482 48.863"><path d="M7.236,7.19A23.9,23.9,0,0,1,24.741,0,23.9,23.9,0,0,1,42.247,7.19a23.347,23.347,0,0,1,7.236,17.241,23.347,23.347,0,0,1-7.236,17.241,24,24,0,0,1-17.506,7.19,24,24,0,0,1-17.506-7.19A23.347,23.347,0,0,1,0,24.431,23.347,23.347,0,0,1,7.236,7.19Zm3.928,3.791v.091Q11.209,14.6,14.38,14.6a6.754,6.754,0,0,0,.747-.046,3.17,3.17,0,0,0,3.135-3.044v-.437a3.51,3.51,0,0,0-1.1-2.643,3.262,3.262,0,0,0-2.333-.93,3.536,3.536,0,0,0-.574.046,3.134,3.134,0,0,0-3.1,3.436Zm6.607,6.26-.437.046q-1.321,0-5.641-.091c-.027,0-.046.046-.046.137V36.779h6.033q.091-3.7.091-9.742Zm20.987,1.5a6.525,6.525,0,0,0-5.2-2.032h-.7a6.9,6.9,0,0,0-5.468,3.171V17.2q-4.192.091-5.468.091l-.4-.046V36.734l.437-.046q1.321,0,5.641.091.091-.966.091-2.643,0-1.148-.046-2.643-.046-1.941-.046-3.262t.046-2.16a6.126,6.126,0,0,1,.529-2.333,2.933,2.933,0,0,1,2.643-1.85,4.64,4.64,0,0,1,1.9.483q1.677.747,1.677,7.937v6.434q1.54.046,3.089.046t3.089-.046c0,.118.018.173.046.173s.046-1.75.046-5.249V26.719Q40.616,20.95,38.757,18.745Z" fill="#fff"/></svg>
                        </div>
                    {% endif %}
                    <div class="label"><span>{{ navStickyItem.title }}</span></div>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>